@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

:root {
  --main-background: #fff;
  --secondary-background: #f6f8ff;
  --main-font: #1e1730;
  --secondary-font: #8a93b4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  height: 90vh;
  width: 90%;
  background-color: var(--main-background);
  border-radius: 2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 0.5fr 3fr 5fr;
}

.navbar {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  display: grid;
  grid-template-rows: 1fr 5fr 1.5fr;
  background: var(--secondary-background);
}

.logo {
  border-top-left-radius: 2rem;
  display: grid;
  place-items: center;
}

.logo img {
  height: 5rem;
}

.links {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links i {
  padding: 2rem;
  cursor: pointer;
  color: var(--secondary-font);
}

.active {
  color: var(--main-font) !important;
}

.account {
  border-bottom-left-radius: 2rem;
}

.main {
  position: relative;
}

.map {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  height: 100%;
}

.input-container {
  background-color: var(--secondary-background);
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  padding: 0 2rem;
  border-radius: 2rem;
  margin: 4rem auto;
}

.input-container select {
  width: 100%;
  padding: 2rem;
  font-size: 2rem;
  background: none;
  border: none;
}

.input-container i {
  cursor: pointer;
  color: var(--main-font);
}

.input-container input {
  width: 100%;
  color: var(--main-font);
  padding: 2rem;
  font-size: 2rem;
  background: none;
  border: none;
}

.weather {
  display: none;
  width: 100%;
}

.weather-timezone {
  display: flex;
  color: var(--main-font);
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
}

.weather-timezone i {
  margin: 0rem 2rem;
}

.weather-img {
  display: grid;
  place-items: center;
  margin: 5rem 0;
}

.weather-img img {
  height: 20vh;
}

.weather-type {
  font-size: 2rem;
  color: var(--secondary-font);
  text-align: center;
}

.weather-temp {
  font-size: 10rem;
  color: var(--main-font);
  margin: 1rem 0;
  text-align: center;
}

.weather-data {
  display: flex;
  color: var(--secondary-font);
  justify-content: center;
  align-items: center;
}

.weather-windspeed {
  margin-right: 2rem;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  width: 100%;
  padding: 3rem;
  color: var(--main-font);
  background: var(--secondary-background);
}

.footer h1 {
  text-align: center;
}

/* ///// COVID PART  */
.covid {
  display: grid;
  /* grid-template-rows: 1fr 1fr;/ */
}

.covid-header {
  height: 30vh;
  background: url("../images/virus-bg.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  width: 100%;
  padding: 2rem;
  text-align: right;
  font-size: 1.5rem;
}

.covid-data {
  margin: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4rem;
}

.data-card {
  background: white;
  height: 10vh;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.data-card h1 {
  font-size: 3rem;
  text-align: right;
}

.data-card h4 {
  font-size: 1.2rem;
}

/* ///// NEWS PART  */

.news {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.news img {
  height: 20vh;
}

@media screen and (max-width: 1000px) {
  .main {
    display: none;
  }

  .dashboard {
    grid-template-columns: 0.5fr 3fr;
  }
}

.footer {
  border-bottom-right-radius: 2rem;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }

  .dashboard {
    grid-template-columns: 0.5fr 3fr;
  }
  .main {
    display: none;
  }
}
